.contents{
	margin-top:50px;
}
.left-area{
	background:#fff;
	padding:15px;
	position: relative;
	overflow: hidden;
}
.left-area::before{
	content:"Profile";
	position: absolute;
	top:0px;
	left:-30px;
	width:150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transform: rotate(-40deg);
	background:#f93d67;
	color:#fff;
}
.right-area{
	background:#fff;
	padding:15px;
	position: relative;
	overflow: hidden;
}
.right-area::before{
	content:"Details";
	position: absolute;
	top:0px;
	right:-30px;
	width:150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transform: rotate(30deg);
	background:#7047d7;
	color:#fff;
}
.user_img{
	height: 100px;
	width: 100px;
	margin:0px auto;

}
.first-li{
	margin-top:20px;
}

.list-group-item:hover a{
	color:#fff;
	text-decoration: none;;
}

.list-group-item:hover{
	background-color: #7047d7;
}
.logout-btn{
	background:rgba(0,0,0,0.1);
	border:1px solid #fff;
	border-radius: 30px;
}
.logout-btn:hover{
	background:rgba(0,0,0,0.5);
	border:1px solid #fff;
}