/*** === CUSTOM STYLES ==== ***/
body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background-color:#f3f3f2;
}
/*** === Navigation ==== ***/
.custom-nav{
	background:linear-gradient(left,#f93d67,#7047d7);
	background:-webkit-linear-gradient(left,#f93d67,#7047d7);
	background:-moz-linear-gradient(left,#f93d67,#7047d7);
	background:-ms-linear-gradient(left,#f93d67,#7047d7);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav.custom-nav ul li a,nav.custom-nav a{
	color:#fff !important;
}
/*** === Navigation ==== ***/
.content{
	margin-top:50px;
}
/**** ==== Signup Design ====***/
.card{
	/* border-color:#7047d7; */
	border:0px;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border-radius:0px;
}
.card::before{
	content:" ";
	display: block;
	position: absolute;
	width:100%;
	height:250px;
	top:10px;
	border:0px;
	transform:rotate(-10deg);
	background:#7047d7;
	z-index:-1;
}
.card-header{
	color:#7047d7;
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px;
}
.form-heading{
	font-weight:700;
}
.form-control{
	border:1px solid #7047d7;
	border-radius: 0px;
}
.form-control:hover{
	cursor:pointer;
	border:1px solid #7047d7;
	box-shadow: none;
}
.form-control:focus{
	cursor:pointer;
	border:1px solid #7047d7;
	box-shadow: none;
}
.form-btn{
	background-color:#7047d7;
	border:0px;
	border-radius: 0px;
	box-shadow: none;
}
.form-btn:hover{
	background-color:#7047d7;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.form-btn:focus{
	background-color:#7047d7 !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.fa-pencil-square-o{
	animation:icon-animate 3s infinite;
}
.form-heading{
	font-weight: 900;
	letter-spacing: 2px;
}
/**** ==== Signup Design ====***/
/* ==== login ====*/
.login-cover{
	display:none;
}
.fa-lock{
	animation:icon-animate 3s infinite;
}
/* ==== login ====*/

@keyframes icon-animate{
	100%{
		transform:rotate(360deg);
	}
	
}